*,
*::before,
*::after {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 2px solid #cecfd5;
  padding: 1em;
}

.container {
  width: 900px;
  max-width: 100%;
  outline: 3px solid magenta;
  margin: 0 auto;
}
